@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}



body{
  background: linear-gradient(-109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);

}
.posi{
  position: fixed;
  width: 100%;
  
}

.photo-container {
  display: inline-block;
  padding: 5px;
  border: 5px solid transparent;
  border-radius: 50%; /* Optional: makes the image circular */
  animation: border-animation 4s infinite, float-animation 3s ease-in-out infinite;
  /* Applying both the border and floating animations */
}


.profile-photo {
  width: 150px; /* Adjust size as needed */
  border-radius: 50%; /* Optional: matches the border radius */
  display: block;
}


header ul li {

  @apply px-2;
}
.bg-primary{
 
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);

}
.bg-secondary{
  background: linear-gradient(178.1deg, rgb(60, 55, 106) 8.5%, rgb(23, 20, 69) 82.4%);
}
.bg-third{
  background: linear-gradient(-109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);

}
.bg-four{
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
}
.bg-five{
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;

}
.bg-six{
  background: linear-gradient(to right, #434343 0%, black 100%);

}

.mobile-nav{
  @apply fixed top-10 left-0 bg-gray-600 w-full h-1/4;
}
.mobile-nav  li{
  @apply w-full text-center border-b-2 h-full;
}
.project-desc{
  @apply absolute left-0 right-0 bottom-0 top-[0px] bg-secondary opacity-0 duration-500 hover:opacity-100;
}
.button{
  @apply bg-primary px-5 py-2 font-bold hover:border-2  rounded;
}
html {
  scroll-behavior: smooth;
}
.header-font{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.skills-list {
 
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
  gap: 20px; /* Adds space between each skill item */
}


.skill-item {
  display: flex;
  width: 130px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Vertically centers the icon and text */
  padding: 10px;
  border: 1px solid #ddd; /* Optional: Adds a border around each skill item */
  border-radius: 5px; /* Optional: Rounds the corners */
  background-color: #ffffff; /* Optional: Light background color */
  box-shadow: 
  0 4px 6px rgba(0, 0, 0, 0.432), /* Light shadow for depth */
  0 10px 15px rgba(0, 0, 0, 0.2), /* Slightly larger shadow for more depth */
  0 20px 30px rgba(0, 0, 0, 0.3); 
  transition: box-shadow 0.6s ease, transform 0.8s ease, background-color 1s ease; /* Smooth transition for box-shadow, transform, and background-color */

}
.skill-item:hover{
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  transform: translateY(-5px);  transition: border-color 5s ease;
  box-shadow: 0 0 0 4px #3498db; /* Creates a border-like effect on hover */
  box-shadow: 
  0 4px 6px rgba(0, 0, 0, 0.1), /* Light shadow for depth */
  0 10px 15px rgba(0, 0, 0, 0.2), /* Slightly larger shadow for more depth */
  0 20px 30px rgba(78, 78, 78, 0.3); 

}

.skill-name {
  margin-right: 10px; /* Adds space between the skill name and icon */
  font-weight: bold; /* Optional: Makes the text bold */
}

.skill-icon {
  font-size: 24px; /* Adjusts the size of the icon */
}

/* TypingEffect.css */
.typing-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid black; /* Cursor effect */
  animation: blink 0.75s step-end infinite;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
